<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Farm Manager</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<header>
  <nav></nav>
</header>
<body>
  <section class="main">
    <h1>Welcome to Farm Manager</h1>
    <%- body %>
  </section>
</body>
</html>